
header{
    width: 100%;
    display: inline-block;
    background-color: rgb(240, 240, 240);
}

nav{
    background-color: rgb(240,240,240);
}  

li{
    margin: 10px;
    font-family: "Source Sans Pro";
    font-weight: bold;
    color: rgb(rgb(0, 0, 0));
}

.Logo{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}

img{
    width: 85px;
    height: 85px;
    margin-left: 190px;
    max-width: 120px; 
}

button{
    margin: 0px 0px 0px 0px;
    font-family: "Source Sans Pro";
    border: 0px;
}
