
header{
    width: 100%;
    display: inline-block;
    background-color: rgb(240, 240, 240);
}

nav{
    background-color: rgb(240,240,240);
}  

ul{
    margin: 0px 0px 0px 300px;
}

li{
    margin: 10px 20px 10px 20px;
    font-family: "Source Sans Pro";
    font-weight: bold;
    color: rgb(rgb(0, 0, 0));
}

.Logo{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}

img{
    width: 85px;
    height: 85px;
    margin-left: 190px;
    max-width: 120px; 
}

button{
    margin: 0px 0px 0px 0px;
    font-family: "Source Sans Pro";
    border: 0px;
    background-color:#1a678d;
    color: rgb(255, 255, 255);
    padding: 5px;
    font-family: "Source Sans Pro";
    border: 1px solid #1a678d;
}

button:hover{
    background-color: rgb(255, 255, 255);
    color: #1a678d;
    border: 1px solid #1a678d;
}
