<div class="contenedorContacto">
    <div class="formularioContacto">
    <label for="email">Tu Nombre (obligatorio)</label>
    <input type="email" id="email">
    <label for="text">Tu correo electrónico (obligatorio)</label>
    <input type="text" id="text">
    <label for="asunto">Asunto</label>
    <input type="text" id="asunto">
    <label for="mensaje">Tu mensaje</label>
    <textarea name="mensaje" id="mensaje"></textarea>
<button>ENVIAR</button>
</div>
<div class="mediosContacto">
<p></p>
<p></p>
</div>
</div>
