<header class="header">
    
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <div class="Logo">
            <a routerLink="/Principal">
              <img [src]="imgLogo" [alt]="Logo363">
            </a>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link"  routerLink="/Principal">INICIO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/Noticias">NOTICIAS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Imagenes">IMAGENES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/Contacto">CONTACTO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled"></a>
              </li>
            </ul>
            <button class="btnAdmin"><a class="nav-link" routerLink="/Administración">ADMINISTRACIÓN</a></button>
          </div>
        </div>
      </nav>
  </header>
