<footer>
    <div class="contenedor">
       <div class="derechosAutor">
       <p>© 2025 - Todos los derechos reservados</p>
    </div>
    <div class="redesSociales">
        <div class="facebook">
            <a href="https://www.facebook.com/profile.php?id=114821528553128&_rdr"><img src="../../../assets/img/iconoFacebook.png" alt="Facebook"></a>
        </div>
        <div class="instagram">
            <a href="https://www.instagram.com/escuela_tecnica_normaaquino_lt/#"><img src="../../../assets/img/iconoInstagram.png" alt="Instagram"></a>
        </div>
    </div> 
    </div>
</footer>