.contenedorEstructura {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .estructura {
    width: 800px;
    height: auto;
    max-height: 100%; 
    border: 1px solid rgb(192, 192, 192);
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-start; 
    overflow: auto; 
    padding: 20px; 
    box-sizing: border-box;
  }
  
  .ec {
    font-family: "Source Sans Pro";
    font-weight: bold;
    font-size: 35px;
    text-decoration: underline;
  }
  
  .tecnico {
    font-family: "Source Sans Pro";
    font-weight: bold;
    font-size: 20px;
  }
  
  .materias {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
  
  .materia {
    border: 1px solid black;
    padding: 10px;
    word-wrap: break-word; 
    overflow: hidden; 
    box-sizing: border-box; 
    background-color: #f5f5f5; 
  }
  
