<div class="fondo">
    <div class="titulo">
         <h2>E.E.T.P.Y.S.O
        <br>N° 363</h2>
    <div class="parrafo1">
       <p>Bienvenido al sitio web oficial de la escuela técnica N°363 
        "Norma Aquino"</p> 
       </div>
    </div>
</div>
<div class="contenedorHistoria">
    <div class="contenido">
            <h1 class="tituloHistoria">HISTORIA</h1>
            <p class="parrafo2">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
               Libero, non cumque sint doloremque maxime quia laudantium 
               sapiente dolor suscipit vel molestiae eius ipsam. Dignissimos 
               quidem recusandae enim sapiente quis impedit?
               Lorem ipsum dolor sit amet consectetur adipisicing elit. 
               Earum quaerat repellat explicabo enim eius rem accusantium ipsum. 
               Minima veritatis consequuntur voluptatibus saepe veniam nulla 
               temporibus dignissimos! Dolores quidem qui nostrum!</p>
    </div>
</div>
<div class="contenedorOfertaEducativa">
    <h1 class="ofertaEducativa">OFERTA EDUCATIVA</h1>
    <div class="botones">
        <button>BACHILLER EN CIENCIAS NATURALES</button>
        <button>TÉCNICO EN INDUSTRIAS DE PROCESOS</button>
    </div>
    </div>
