.divAdmin{
     width: 100%;
     height: 500px;
}

h1{
    font-family:"Montserrat";
    text-align: center;
    margin: 10px 0px 10px 0px;
}


.contenedorAdmin{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

label{
    font-size: 25px;
}

input{
    width: 250px;
    height: 30px;
}

button{
    margin: 10px;
}
