<div class="contenedor">
    <div class="contenido">
            <h1>HISTORIA</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
               Libero, non cumque sint doloremque maxime quia laudantium 
               sapiente dolor suscipit vel molestiae eius ipsam. Dignissimos 
               quidem recusandae enim sapiente quis impedit?
               Lorem ipsum dolor sit amet consectetur adipisicing elit. 
               Earum quaerat repellat explicabo enim eius rem accusantium ipsum. 
               Minima veritatis consequuntur voluptatibus saepe veniam nulla 
               temporibus dignissimos! Dolores quidem qui nostrum!</p>
    </div>
</div>
