.contenedorHistoria{
    width:100%;
    height: 500px;
    display: flex;
    box-sizing: border-box;
    background-color: rgb(200, 200, 200);
    justify-content: center;
    align-items: center;
}

.contenido{
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../../../assets/img/papel.jpg);
    background-size: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 80px 80px 80px;
}

h1{
    font-family: Montserrat;
    padding: 0px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.6), 0 0 15px rgba(255, 255, 255, 0.4);
}

p{
    padding: 0px;
    margin: 0px;
    width: 300px;
    text-align: justify;
}  


@media screen and (max-width:700px) {
    .contenido{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

@media screen and (max-width:600px) {
    .contenido{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    
    .imgHistoria{
        display: none;
    }
}