.divAdmin{
     width: 100%;
     padding: 100px;
}

h1{
    font-family:"Montserrat";
    text-align: center;
    margin: 10px 0px 10px 0px;
}


.contenedorAdmin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label{
    font-size: 25px;
}

input{
    width: 250px;
    height: 30px;
}

button{
    margin: 10px;
}

button{
    width:365px;
    background-color:#1a678d;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family: "Source Sans Pro";
    border: 1px solid #1a678d;
    margin-top:20px;
}

button:hover{
    background-color: rgb(255, 255, 255);
    color: #1a678d;
    border: 1px solid #1a678d;
}
