<div class="fondo">
    <div class="titulo">
         <h2>E.E.T.P.Y.S.O
        <br>N° 363</h2>
    <div class="parrafo1">
       <p>{{Bienvenida}}</p>
       </div>
    </div>
</div>
<div class="contenedorHistoria">
    <div class="contenido">
            <h1 class="tituloHistoria">HISTORIA</h1>
            <p class="parrafo2">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
               Libero, non cumque sint doloremque maxime quia laudantium 
               sapiente dolor suscipit vel molestiae eius ipsam. Dignissimos 
               quidem recusandae enim sapiente quis impedit?
               Lorem ipsum dolor sit amet consectetur adipisicing elit. 
               Earum quaerat repellat explicabo enim eius rem accusantium ipsum. 
               Minima veritatis consequuntur voluptatibus saepe veniam nulla 
               temporibus dignissimos! Dolores quidem qui nostrum!</p>
    </div>
</div>
<div class="contenedorOfertaEducativa">
    <h1 class="ofertaEducativa">OFERTA EDUCATIVA</h1>
    <div class="botones">
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#bachiller">
    BACHILLER EN CIENCIAS NATURALES
  </button>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#tecnico">
    TÉCNICO EN INDUSTRIAS DE PROCESOS
  </button>


<!-- Modal -->
 @for (carrera of carrerass; track carrera.id) {
  @if (carrera.id==1){
    <div class="modal fade" id="bachiller" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">{{carrera.carrera}}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
           <p>Duración: {{carrera.duracion}}</p>
           <p>{{carrera.formacion}}</p>
           <p class="planEst">PLAN DE ESTUDIOS</p>
           <img class="img-fluid" [src]="carrera.planDeEstudios" alt="">
          </div>
        </div>
      </div>
    </div>
  
  }
  
 }

 <!-- Modal -->
 @for (carrera of carrerass; track carrera.id) {
  @if (carrera.id==2){
    <div class="modal fade" id="tecnico" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">{{carrera.carrera}}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
           <p>Duración: {{carrera.duracion}}</p>
           <p>{{carrera.formacion}}</p>
           <p class="planEst">PLAN DE ESTUDIOS</p>
           <img class="img-fluid" [src]="carrera.planDeEstudios" alt="">
          </div>
        </div>
      </div>
    </div>
  
  }
  
 }
    </div>
    </div>