.contenedor{
    width: 100%;
    height: 400px;
    background-color: rgb(73, 73, 73);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

h1{
    font-family:Montserrat;
    text-align: center;
    color: white;
}

button{
    background-color: rgb(54, 74, 250);
    color: white;
    margin: 10px 5px 10px 5px;
    padding: 10px 10px 10px 10px;
    font-size: 15px;
    font-family: sans-serif;
}

@media screen and (max-width:700px) {
    .botones{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    }
}