.contenedor{
    margin: 0px;
    width: 100%;
    height:60px;
    background-color: #242424;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.derechosAutor{
    margin: 0px;
}

p{
    margin: 0px;
    padding: 20px 20px 20px 90px;
    color: rgb(230, 230, 230);
    font-family: sans-serif;
    font-size: 12px;
}

.redesSociales{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     margin-right: 90px;
}

a{
    margin:5px;
}

img{
    width: 20px;
    height: 20px;
}